body {

width: 100%;
margin: auto;

background:  url("../images/subtle-wood.gif") repeat center fixed;


}


#wrapper {
        width: 100%;
        margin:  auto;
        border: 1px gray solid ; 
        border-radius: 0px;
        box-shadow: 0px 0px 10px #000;
        padding: 0px;
        font-style: normal;
        font-weight: normal;
        font-size: .9em;
        font-family: helvetica;
        background-color: #e8eadf;
} 

.WS {
        margin: 0%;
        border-radius: 5px;
        padding: 5px;

}




.about {
        margin: 1%;
        width: 98%;

}       
        
.content1 {
        float: left;
        margin: 2%;
        width: 40%;
}

.content2 {
        float: left;
        margin: 1%;
        width: 40%;
}


.clear {
        clear:left;              
        
}



/* __________HEADINGS_______________ */

h1{
        
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 3em;
        font-family: Arial Black;
        color:black;                

}



/* 
h2 {
        margin: 2;
        padding: 2px 2px 2px 10px;
        box-shadow: 0px 5px 5px gray;
        text-transform: uppercase;
        text-indent: 35px;
        font-family: , sans-serif;;
        color: black;
        background:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(214,214,214,1)), color-stop(22%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
        background-size: contain;
        width: auto;
        height: auto;
}
 */


.about {
        margin: 1%;
        padding: 2px 2px 0px;
        text-align: center;
        box-shadow: 5px 5px 5px gray;
        font-family: helvetica;
        color: white;
        background: 
        background-size: contain;
        width: auto;
        height: auto;
}


p {
		font-family: helvetica;
        color: white;
        
}
        




/* _______________TABLE___________ */

table {
        width: 100%;
        padding: 10px 10px 10px 10px;
        text-transform: capitalize;
        text-align: left;
        font-size: 1.2em;
        border: 3px white solid;
        box-shadow: 0px 5px 5px gray;
        background-color: white;
}

th {
		background: black;
		color: white
}

tr:nth-child(even)		{ background-color:#e8eadf; }



tr:hover{
                background: #9aa4ae;
                padding: 2px 2px 2px 2px;
}


html {
  height: 100%;
}

.cf:before, .cf:after {
    content:" ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
.menu {
    list-style:none;
    margin: 5px 5px;
    width: 800px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}
.menu > li {
    background: #9aa4ae; 
    float: left;
    position: relative;
    -webkit-transform: skewX(25deg);
}
.menu a {
    display: block;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-size: 14px;
}
.menu li:hover {
    background: #93a35c;      
    color: #9aa4ae;
}
.menu > li > a {
    -webkit-transform: skewX(-25deg);
    padding: 1em 2em;
}
/* Dropdown */
 .submenu {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    -webkit-transform: skewX(-25deg);
    -webkit-transform-origin: left top;
}
.submenu li {
    background-color: #9aa4ae;
    position: relative;
    overflow: hidden;
}
.submenu > li > a {
    padding: 1em 2em;
}
.submenu > li::after {
    content:'';
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .9);
}
/* Odd stuff */
 .submenu > li:nth-child(odd) {
    -webkit-transform: skewX(-25deg) translateX(0);
}
.submenu > li:nth-child(odd) > a {
    -webkit-transform: skewX(25deg);
}
.submenu > li:nth-child(odd)::after {
    right: -50%;
    -webkit-transform: skewX(-25deg) rotate(3deg);
}
/* Even stuff */
 .submenu > li:nth-child(even) {
    -webkit-transform: skewX(25deg) translateX(0);
}
.submenu > li:nth-child(even) > a {
    -webkit-transform: skewX(-25deg);
}
.submenu > li:nth-child(even)::after {
    left: -50%;
    -webkit-transform: skewX(25deg) rotate(3deg);
}
/* Show dropdown */
 .submenu, .submenu li {
    opacity: 0;
    visibility: hidden;
}
.submenu li {
    transition: 1s ease -webkit-transform;
}
.menu > li:hover .submenu, .menu > li:hover .submenu li {
    opacity: 1;
    visibility: visible;
}
.menu > li:hover .submenu li:nth-child(even) {
    -webkit-transform: skewX(25deg) translateX(15px);
}
.menu > li:hover .submenu li:nth-child(odd) {
    -webkit-transform: skewX(-25deg) translateX(-15px);
}



